@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container {
    
    width: 800px;
    background-color: white;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
    padding-bottom: 10em;
    border-radius: 5em;
    border-style: solid;
    border-color: white;

}
.more-articles{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
.date {
    text-align: left;
}
header {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

main {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    font-display: swap;

}
